PyPDF2==2.6.0
nltk
torch==1.12.1
transformers==4.22.2
datasets==2.6.1
pytorch_lightning==1.7.7
wandb==0.13.4
sklearn==0.0
spacecutter==0.2.1
plotly==5.11.0
spacy==3.4.0
scispacy==0.5.1
fuzzysearch==0.7.3
Levenshtein==0.20.8
pulp==2.6.0
simplejson==3.17.6
kaleido==0.2.1
cchardet==2.1.7
git+https://github.com/UKPLab/intertext-graph.git
git+https://github.com/kermitt2/grobid_client_python.git
